---
import Link from "./Link.astro";

const framework = "astro";
const author = "josepsoares";
const frameworkWebsite = "https://astro.build/";
const authorWebsite = "https://josepsoares.now.sh";
const date = new Date().getFullYear();
---

<footer class="flex w-full justify-end pt-10 pb-2 text-[10px] text-stone-500">
  <p class="m-0">
    <Link isExternalHref={true} href={authorWebsite} text={author}>
      {author}
    </Link> -{" "}
    criado com{" "}
    <Link isExternalHref={true} href={frameworkWebsite} text={framework}>
      {framework}
    </Link> - {date}
  </p>
</footer>
